---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="#" id="logo">{{ page.title }}</a></h1>

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>Change is on the Horizon.</h2>
										<span class="byline"> Today's problems are complex and interconnected. Climate change, social unrest, accelerating technologies: the effects are unavoidable.
</span>
									</header>
									<a href="#" class="button alt">Get Solutions</a>
								</section>
							</div>
						</div>

				</div>
			</div>

	{{ content }}
